POSTGRES_PASSWORD=
POSTGRES_USER=mais_todos_creditcard
POSTGRES_DB=mais_todos_creditcard
POSTGRES_URL=db
POSTGRES_PORT=5432
POSTGRES_CONNECTION_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_URL}:${POSTGRES_PORT}/${POSTGRES_DB}"
DATABASE_URL="${POSTGRES_CONNECTION_URL}?sslmode=disable"
